 .ProductList{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .ProductList-texts{
     width:65%
 }


 .ProductList-card.bg{
   position:absolute;
   top:50px;
   left:50px;
  
 
}


 .ProductList-title-t{
    font-size: 38px;
    font-weight: 400;
   
   
 }

 .ProductList-description{
    margin:20px 0px;
    font-weight:200px;
   
 }

 .ProductList-left{
   flex:1;
   display:flex;
   align-items:center;
   justify-content:center;
   position:relative;
   height:100%;

}

 .ProductList-card{
   width:70%;
   height:50vh;
   border-radius:30px;
   position:relative;
   overflow: hidden;
   align-items:center;
   justify-content:center;
   
    
}

 .ProductList-list{
      width:100%;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
 }

 

.ProductList-right{
   flex:1;
   background-color:#D48166 ;
   color:#E6E2DD;
   margin-left: 100px;
    
    
  }


  .ProductList-img{
   width:60%;
   height:70vh;
   object-fit: fill;
   position:absolute;
    top:50px;
    left:50px;
   background-color:hsl(15, 56%, 62%);
}  

  

   .ProductList-title {
   
    font-size:30px;
   font-weight:bold;
   background-color: #D48166;
   color:white;
   height: 50px;
   margin-bottom: 100px;
   
    
  
}

.ProductList {
   color: #D48166;
   display: flex;
 align-items: center;
 font-weight:400;
}

img {
   width:60%;
    height:70vh;
    border-radius:30px;
    position:relative;
    overflow: hidden;
}
 

 
 
  
 
