.aboutMe{
    height: 100vh;
    display:flex;
    align-items:center;
}

.aboutMe-left{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    height:100%;

}

.aboutMe-right{
 flex:1;
 justify-content: center;
 align-items: center;
  color: white;
 background-color:#D48166;
 width: 50%;
 height:18%; 
 margin-right:6%;
 border-radius: 20px;
   
}

.aboutMe-card.bg{
    position:absolute;
    top:50px;
    left:50px;
   background-color:hsl(15, 56%, 62%);
}

.aboutMe-card{
    width:60%;
    height:70vh;
    border-radius:30px;
    position:relative;
    overflow: hidden;
}

.aboutMe-img{
    width:100%;
    height:100%;
    object-fit:cover;
}
 

 

 .aboutMe-title{
    font-weight:200;
  color: brown;
  font-size: 28px;
    

}

h1 {

     font-size:35px;
    font-weight: 400px;
    color:black;
    text-align: center;
    font-family:'Lato', sans-serif;
}

 p {
        font-weight:200px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 17px;
        background-color: transparent;
      
}


.aboutMe-desc {
    font-size: 16px;
}

@media screen and (max-width:480px) {

    .aboutMe-right{
          height: 300px;
           
    }

    .aboutMe-img{
        width:500px;
    }
}
 
     
 
     
 