 
.contactme-left{
    
    
    align-items:center;
    justify-content:center;
    position:relative;
    height:100%;

}

.contactme-right{
    align-items:center;
    justify-content:center;
    position:relative;
    height:100%;
    margin-left: 250px;
     
}

 

.contactme-card.bg{
    position:absolute;
    top:50px;
    left:50px;
    
}

.contactme-card{
    width:60%;
    height:70vh;
    border-radius:30px;
    position:relative;
    overflow: hidden;
}

 
 

  

.contactme-title{
    font-weight:bold;
     font-size:25px;
    align-items:center;
    justify-content:center;
    color:white;
   background-color: #D48166;
   width: 50%;
    margin-left: 100px;
   margin-top: 100px;
    
     
}

input {
    width: 100%;
    padding: 0;
  margin: 8px 0;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  }
   

  .container-form{
    align-items:center;
    justify-content:center;
    position:relative;
    height:100%;

  }


  form{
      margin-top: 20px;
      margin-left:200px;
  }
 

  button{
   margin-left:350px;
   margin-top: 10px;
    
  }


  input{
      width:80% ;
      height: 50px;
      border-bottom: 1px solid black;
      margin:10px 0px;
      font-size: 14px;
       
      
      
  }

  textarea{
      width:80%;
      font-size:14px;
       
  }

 button{
     border:none;
     padding:15px;
     background-color:#D48166;
     color:white;
     font-weight:500;
     cursor:pointer ;
     border-radius: 10px;
     
      
 }

 .div  h1{
     font-family: 'Lato', sans-serif; 
 }

 @media screen and (max-width:480px){
     .contactme{
         width:800px;
          
     }

    form{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input{
        width:400px;
        height:50px;
        
        margin-left: 0;
        margin-right :10px;
    }

    button{
        margin-top: 10px;
    }
}