.Work{
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .Work-texts{
     width:65%
 }
  

 .Work-title{ 
    font-size: 28px;
    font-weight: bold;
    margin-top: 200px;
   background-color: #D48166;
   color: azure;
   height:50px;
    
     
   
    
 }

  


  

  
 


 .Work-title-t{
    font-size:28px;
    font-weight:400;
    color: brown;
    
     
   
   
 }

 .Work-description{
    margin:0;
    font-weight:300px;
    font-size: 16px;
   
     
   
 }

 .Work-left{
   flex:1;
   display:flex;
   align-items:center;
   justify-content:center;
   position:relative;
   height:100%;

}

 .Work-card{
   width:60%;
   height:70vh;
   border-radius:30px;
   position:relative;
   overflow: hidden;
  
}

 .Work-list{
      width:100%;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
 }

 

.Work-right{
   flex:1;
   background-color:#D48166 ;
   color:#E6E2DD;
   margin-top: 5px;
    margin-right:20px;
    margin-left:20px;
    border-radius: 20px;
    height:300px;
    width:300px;
     
     
  }


   

  
iframe{
   margin-top: 20px;

}
 
